---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";

const nav = [
  { href: "/about", label: "about" },
  { href: "/research", label: "research" },
  { href: "/projects", label: "projects" },
  { href: "/notes", label: "notes" },
  { href: "/publications", label: "publications" },
  { href: "/resources", label: "resources" },
  { href: "/cv", label: "cv" },
];
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex flex-wrap gap-x-1 gap-y-1 items-center">
        {
          nav.map((item, i) => (
            <>
              {i > 0 && <span>{`/`}</span>}
              <Link href={item.href}>{item.label}</Link>
            </>
          ))
        }
      </nav>
    </div>
  </Container>
</header>
